
  
.container {
    height: calc(100vh - 51px);
    background-color: #252323;
    color: rgb(214, 206, 206);
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .stories-container{
        display: flex;
        flex-direction: column;
        .new-story{
            margin-left: auto;
            .add-story-button{
                margin-left: auto;
                margin: 10px 0px;
                padding: 5px;
                padding-left: 10px;
                border-right: none;
                font-size: 16px;
                background-color: #726d6d;
                color: white;
                border-radius: 15px 0px 0px 15px;
            }
        }

        .stories{
            display: flex !important;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            gap: 15px;

            overflow: auto;
            height: 70vh;
            &::-webkit-scrollbar {
                display: none;
              }

              .no-stories{
                white-space: nowrap; 
                writing-mode: vertical-lr; 
                padding: 10px;
                text-align: end;
                font-size: 25px;
                color: rgb(161, 161, 161);
                margin: auto 0;

              }
            a{
                display: flex;
                flex-direction: column;
                font-size: 10px;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        
        .logout{
            color: rgb(209, 203, 203);
            background-color: #726d6d;
            font-size: 16px;
            padding: 2px 4px;
            border-radius: 5px;
            &:hover{
                background-color: #535151;
            }
        }
        
    }
}