.container{
    display: flex;
    .leftbar{
        flex: 3;
    }
    .content{
        flex: 12;
        background-color: rgb(48, 46, 45);
        max-height: calc(100vh - 51px);
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
          }
    }
    .rightbar{
        flex: 5;
    }
}